.App-header {
    display: flex;
    align-items: center;
    color: rgb(231, 80, 80);
    border-bottom: thick solid rgb(231, 80, 80);
  }
  
  .App-header h1 {
    margin: 0;
  }
  
  .App-header img {
    width: 150px;
  }