.Notifications {
  border: 1px dashed rgb(228, 21, 90);
  padding: 0 2rem 0 1rem;
  float: right;
  margin-right: 1rem;
}
[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}

.menuItem {
  text-align: right;
  margin-right: 2rem;
}
